---
import { CategoryCard } from "@/components/cards/category-card";
import ResourcesCounter from "@/components/resources-counter.astro";
import { Toc } from "@/components/resources-toc";
import SiteSection from "@/components/site-section.astro";
import MainLayout from "@/layouts/main-layout.astro";

import cloud from "../../resources/cloud.json";
import design from "../../resources/design.json";
import dev from "../../resources/dev.json";
import formation from "../../resources/formation.json";
import web from "../../resources/web.json";
---

<MainLayout
  items={[
    { title: "Cloud", items: { ...cloud } },
    { title: "Design", items: { ...design } },
    { title: "Dev", items: { ...dev } },
    { title: "Formation", items: { ...formation } },
    { title: "Web", items: { ...web } },
  ]}
  mainClass="h-full"
  title="DevPlace - Free Developer Resources"
>
  <!-- Hero -->
  <section
    class="hero animate-fade-in-up flex flex-col h-screen justify-center w-full items-center pb-12 pt-16 lg:py-28 px-8 text-center"
  >
    <h1
      class="md:text-6xl font-heading text-5xl font-bold bg-gradient-to-br from-neutral-900 to-neutral-950 dark:from-neutral-300 dark:to-neutral-200 bg-clip-text text-transparent"
    >
      [DevPlace]
    </h1>
    <p class="md:text-sm md:w-96 text-neutral-500 text-xs">
      Your trusted hub for <span class="font-bold">Free</span> developer resources.
      Discover tutorials, documentation, code libraries, tools, and developer communities,
      all in one place.
    </p>

    <ResourcesCounter />

    <a
      href="https://github.com/yossTheDev/devplace?tab=readme-ov-file#-how-to-contribute"
      target="_blank"
      class="flex ring-2 mx-auto mt-3 px-4 bg-blue-500 hover:bg-blue-500 transition-all hover:ring-4 hover:text-white text-white font-bold text-sm justify-center items-center w-fit rounded-full p-2"
      >Submit</a
    >

    <a href="#explore">Explore</a>
  </section>

  <!-- Categories -->
  <p class="font-heading py-4 px-6 text-2xl">Categories</p>
  <section class="flex gap-2 h-full mb-2 flex-wrap justify-stretch p-4">
    <CategoryCard
      title="Cloud"
      description="Free Cloud Resources. Hosting, BaaS, Domains and More"
      href="/category/cloud"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-cloudy"
        ><path d="M17.5 21H9a7 7 0 1 1 6.71-9h1.79a4.5 4.5 0 1 1 0 9Z"
        ></path><path d="M22 10a3 3 0 0 0-3-3h-2.207a5.502 5.502 0 0 0-10.702.5"
        ></path></svg
      >
    </CategoryCard>

    <CategoryCard
      title="Design"
      description="Free resources for designers and developers. Fonts, Illustrations, Colors, Icons and More"
      href="/category/design"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-pencil-ruler"
        ><path d="m15 5 4 4"></path><path
          d="M13 7 8.7 2.7a2.41 2.41 0 0 0-3.4 0L2.7 5.3a2.41 2.41 0 0 0 0 3.4L7 13"
        ></path><path d="m8 6 2-2"></path><path
          d="m2 22 5.5-1.5L21.17 6.83a2.82 2.82 0 0 0-4-4L3.5 16.5Z"
        ></path><path d="m18 16 2-2"></path><path
          d="m17 11 4.3 4.3c.94.94.94 2.46 0 3.4l-2.6 2.6c-.94.94-2.46.94-3.4 0L11 17"
        ></path></svg
      >
    </CategoryCard>

    <CategoryCard
      title="Dev"
      description="Free resources for developers of all kinds. APIs, CI/CD, QA, Testing and More"
      href="/category/dev"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-code"
        ><polyline points="16 18 22 12 16 6"></polyline><polyline
          points="8 6 2 12 8 18"></polyline></svg
      >
    </CategoryCard>

    <CategoryCard
      title="Formation"
      description="Resources for Training as a Developer"
      href="/category/formation"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-graduation-cap"
        ><path
          d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z"
        ></path><path d="M22 10v6"></path><path
          d="M6 12.5V16a6 3 0 0 0 12 0v-3.5"></path></svg
      >
    </CategoryCard>

    <CategoryCard
      title="Web"
      description="Free Resources for Web Developers. Icons, Templates, Design Systems and More"
      href="/category/web"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-globe"
        ><circle cx="12" cy="12" r="10"></circle><path
          d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"></path><path
          d="M2 12h20"></path></svg
      >
    </CategoryCard>
  </section>

  <!-- All Items  -->
  <>
    <p id="explore" class="font-heading py-4 px-6 text-2xl">Explore</p>

    <div class="flex w-full mb-4">
      <div class="flex flex-col w-full px-2 mt-4 gap-4">
        <SiteSection
          title={"Cloud"}
          description={"Free Cloud Resources. Hosting, BaaS, Domains and More"}
          data={cloud}
          isMainPage
        />

        <SiteSection
          title={"Design"}
          description={"Free resources for designers and developers. Fonts, Illustrations, Colors, Icons and More"}
          data={design}
          isMainPage
        />

        <SiteSection
          title={"Dev"}
          description={"Free resources for developers of all kinds. APIs, CI/CD, QA, Testing and More"}
          data={dev}
          isMainPage
        />

        <SiteSection
          title={"Formation"}
          description={"Resources for Training as a Developer"}
          data={formation}
          isMainPage
        />

        <SiteSection
          title={"Web"}
          description={"Free Resources for Web Developers. Icons, Templates, Design Systems and More."}
          data={web}
          isMainPage
        />
      </div>

      <aside
        class="fixed mr-4 dark:bg-secondary/30 bg-secondary/60 h-fit py-4 px-6 rounded-xl top-20 w-1/5 z-30 -ml-2 hidden shrink-0 md:sticky md:block"
      >
        <p class="text-center font-bold mb-4">Table of Contents</p>
        <Toc
          data={[
            { title: "Cloud", items: { ...cloud } },
            { title: "Design", items: { ...design } },
            { title: "Dev", items: { ...dev } },
            { title: "Formation", items: { ...formation } },
            { title: "Web", items: { ...web } },
          ]}
        />
      </aside>
    </div>
  </>
</MainLayout>

<style>
  .hero:is(.dark *) {
    background: url("../assets/img/cccoil.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero {
    background: url("../assets/img/cccoil-light.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: 768px) {
    .hero:is(.dark *) {
      background: url("../assets/img/cccoil.svg");
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: 50%;
    }

    .hero {
      background: url("../assets/img/cccoil-light.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 50%;
      background-position: 50%;
    }
  }
</style>
